- var classes = ["message"];
- if (settings.theme.columnMode)
  - classes.push("span6");

#getInformation(class=classes)
  a.close(href="#", onclick="$('#getInformation').remove();") ×
  a.close(href="#", onclick="bindAddress('/getInformation'); $('#getInformation').remove();") ↻
  h4 Server information
  - var tableClasses = ["bordered-table", "zebra-striped", "condensed-table", "info-table"];
  table(class=tableClasses)
    each value,key in result
      tr
        td.right.labelColumn=key
        td
          .fit-to-cell
            =value