- var classes = ["message"];
- if (settings.theme.columnMode)
  - classes.push("span6");

div#profilingLevel(class=classes)
  a.close(href="#", onclick="$('#profilingLevel').remove()") ×
  h4 Profiling level
  p(style="text-transform: uppercase;")=result
  .alert-actions
    a.btn.small.primary(href="#") Set Level
