- var classes = ["message"];
- if (settings.theme.columnMode)
  - classes.push("span6");

script
  $("#profilingLevel :checkbox").iphoneStyle({
    onChange: function(el, value) {
      $.ajax({
        type: "post",
        url: "/profilingLevel",
        data: { set:value },
        dataType: "json",
        complete: function(jqxhr, status) {
          alert(jqxhr);
          alert(status);
        }
      });
    }
  });

#profilingLevel(class=classes)
  a.close(href="#", onclick="$('#profilingLevel').remove()") ×
  a.close(href="#", onclick="$('#profilingLevel').remove(); bindAddress('/profilingLevel');") ↻
  h4 Profiling level
  - if (result == "off")
    input(type="checkbox", id="profilingLevelCheckbox")
  - else
    input(type="checkbox", checked="checked", id="profilingLevelCheckbox")
