- var classes = ["message"];
- if (settings.theme.columnMode)
  - classes.push("span6");

div#collectionsNames(class=classes)
  a.close(href="#", onclick="$('#collectionsNames').remove()") ×
  h4 Collections
  - var tableClasses = ["bordered-table", "zebra-striped", "condensed-table", "info-table"];
  table(class=tableClasses)
    each value,key in result
      - if (typeof value !== "function")
        tr
          td.right.labelColumn=key
          td
            .fit-to-cell
              =value