#getServer
  .message
    a.close(href="#", onclick="$('#getServer').remove()") ×
    h4 Server settings
    table.bordered-table.zebra-striped
      each value,key in result
        tr
          td.right.labelColumn=key
          td=value
    .alert-actions
      a.btn.small.primary(href="#") Change Server