.sidebar
  .well
    h5 Server
    ul
      li
        a(href="#", id="settingsLink") Current Server
      li
        a(href="#", id="collectionsInfoLink") Server Collections Information
      li
        a(href="#", id="collectionsNamesLink") Server Collections
    h5 Administration
    ul
      li
        a(href="#", id="informationLink") Information
      li
        a(href="#", id="pingLink") Ping
      li
        a(href="#", id="profilingLevelLink") Profiling level