.sidebar
  .well
    h5 Server
    ul
      li
        a(href="#", id="settingsLink") Current Server
      li
        a(href="#", id="collectionsInfoLink") Collections Information
    h5 Database
    ul
      li
        a(href="#", id="collectionsNamesLink") Collection Names
    h5 Administration
    ul
      li
        a(href="#", id="informationLink") Information
      li
        a(href="#", id="pingLink") Ping
      li
        a(href="#", id="profilingLevelLink") Profiling level
    h5 Command Execution
    ul
      li
        a(href="#", id="insertLink") Insert